<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>&quot;www.google.com&quot;</string>
		<key>date</key>
		<date>1201-01-01T16:56:02Z</date>
		<key>name</key>
		<string>&quot;Event4&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;http://www.ChuckYeager.com&quot;</string>
		<key>date</key>
		<date>1948-10-14T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Chuck Yeager Breaks the Sound Barrier&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&quot;The First Hot Air Balloon&quot;</string>
		<key>date</key>
		<date>1783-11-21T16:56:02Z</date>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Hot_air_balloon&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&quot;The Wright Brothers: First Powered Flight&quot;</string>
		<key>date</key>
		<date>1903-12-17T17:00:00Z</date>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Wright_brothers&quot;</string>
	</dict>
</array>
</plist>
