<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/United_Nations&quot;</string>
		<key>date</key>
		<date>1945-10-24T17:00:00Z</date>
		<key>name</key>
		<string>&quot;The United Nations is Founded&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://medium.com/views-from-the-treehouse/treehouse-introduces-techdegrees-the-next-step-in-our-evolution-f57243d99652&quot;</string>
		<key>date</key>
		<date>2016-05-10T16:00:00Z</date>
		<key>name</key>
		<string>&quot;Treehouse Introduces Techdegree Program&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Storming_of_the_Bastille&quot;</string>
		<key>date</key>
		<date>1789-07-14T16:56:02Z</date>
		<key>name</key>
		<string>&quot;Storming of the Bastille&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Boston_Tea_Party&quot;</string>
		<key>date</key>
		<date>1773-12-16T16:56:02Z</date>
		<key>name</key>
		<string>&quot;The Boston Tea Party&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Color_television&quot;</string>
		<key>date</key>
		<date>1954-01-01T17:00:00Z</date>
		<key>name</key>
		<string>&quot;The First National Color TV Broadcast&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/History_of_iPhone&quot;</string>
		<key>date</key>
		<date>2007-06-29T16:00:00Z</date>
		<key>name</key>
		<string>&quot;Apple releases the first iPhone&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Curiosity_(rover)&quot;</string>
		<key>date</key>
		<date>2012-08-06T16:00:00Z</date>
		<key>name</key>
		<string>&quot;Curiosity Rover lands on Mars&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Expedition_1&quot;</string>
		<key>date</key>
		<date>2000-11-02T17:00:00Z</date>
		<key>name</key>
		<string>&quot;The ISS begins uninterrupted human habitation with Expedition 1&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Enola_Gay&quot;</string>
		<key>date</key>
		<date>1945-08-06T16:00:00Z</date>
		<key>name</key>
		<string>&quot;First Nuclear Bomb dropped by Enola Gay&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Attack_on_Pearl_Harbor&quot;</string>
		<key>date</key>
		<date>1941-12-07T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Japanese Sneak Attack Pearl Harbor&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Space_Shuttle_Columbia_disaster&quot;</string>
		<key>date</key>
		<date>2003-02-01T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Shuttle Columbia Breaks Up on Re-Entry&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Space_Shuttle_Challenger&quot;</string>
		<key>date</key>
		<date>1986-01-28T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Shuttle Challenger Explodes 73 Seconds After Launch&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Hubble_Space_Telescope&quot;</string>
		<key>date</key>
		<date>1990-04-25T16:00:00Z</date>
		<key>name</key>
		<string>&quot;Hubble Space Telescope Deployed in Orbit&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/V-2_rocket&quot;</string>
		<key>date</key>
		<date>1944-06-20T16:00:00Z</date>
		<key>name</key>
		<string>&quot;V-2 Rocket paves the way for Space Exploration&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Hughes_H-4_Hercules&quot;</string>
		<key>date</key>
		<date>1947-11-02T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Howard Hughes Flies the Spruce Goose&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Apollo_11</string>
		<key>date</key>
		<date>1969-07-21T00:18:00Z</date>
		<key>name</key>
		<string>&quot;Man First Steps on the Moon&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Voyager_1&quot;</string>
		<key>date</key>
		<string>August 25, 2012 12:00:00</string>
		<key>name</key>
		<string>&quot;Voayger 1 becomes the First Man-made object to reach Interstellar Space&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Sputnik_1&quot;</string>
		<key>date</key>
		<date>1957-10-04T16:00:00Z</date>
		<key>name</key>
		<string>&quot;Sputnik, First Artificial Satellite&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Yuri_Gagarin&quot;</string>
		<key>date</key>
		<date>1961-04-12T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Yuri Gagarin Becomes First Man in Space&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Space_Shuttle_Columbia&quot;</string>
		<key>date</key>
		<date>1981-04-12T17:00:00Z</date>
		<key>name</key>
		<string>&quot;First Space Shuttle Flight&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Spirit_of_St._Louis&quot;</string>
		<key>date</key>
		<date>1927-05-20T16:00:00Z</date>
		<key>name</key>
		<string>&quot;First Nonstop Trans-Atlantic Flight&quot;</string>
	</dict>
	<dict>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Chuck_Yeager&quot;</string>
		<key>date</key>
		<date>1948-10-14T17:00:00Z</date>
		<key>name</key>
		<string>&quot;Chuck Yeager Breaks the Sound Barrier&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&quot;The First Hot Air Balloon&quot;</string>
		<key>date</key>
		<date>1783-11-21T16:56:02Z</date>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Hot_air_balloon&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>&quot;The Wright Brothers: First Powered Flight&quot;</string>
		<key>date</key>
		<date>1903-12-17T17:00:00Z</date>
		<key>url</key>
		<string>&quot;https://en.wikipedia.org/wiki/Wright_brothers&quot;</string>
	</dict>
</array>
</plist>
